aext-assistant @ file:///Users/ec2-user/croot/aext-assistant_1787055811049/work
aext-assistant-server @ file:///Users/ec2-user/croot/aext-assistant-server_1786954636092/work
aext-core @ file:///Users/ec2-user/croot/aext-core_1787663922106/work
aext-core-server @ file:///Users/ec2-user/croot/aext-core-server_1787252298149/work
aext-notebook-load-server @ file:///Users/ec2-user/croot/aext-notebook-load-server_1787252222673/work/backend_lib/notebook_load
aext-panels @ file:///Users/ec2-user/croot/aext-panels_1787223816864/work
aext-panels-server @ file:///Users/ec2-user/croot/aext-panels-server_1787059317803/work
aext-project-filebrowser-server @ file:///Users/ec2-user/croot/aext-project-filebrowser-server_1787235985676/work/backend_lib/project_filebrowser
aext-share-notebook-server @ file:///Users/ec2-user/croot/aext-share-notebook-server_1786954928354/work
aext-shared @ file:///Users/ec2-user/croot/aext-shared_1786700348330/work
aext-toolbox @ file:///Users/ec2-user/croot/anaconda-toolbox_1788195119736/work
aext_environments_server @ file:///Users/ec2-user/croot/aext-environments-server_1787055780003/work/backend_lib/environments
aiobotocore @ file:///Users/ec2-user/croot/aiobotocore_1781603026038/work
aiodns @ file:///Users/ec2-user/croot/aiodns_1772098421784/work
aiohappyeyeballs @ file:///Users/ec2-user/croot/aiohappyeyeballs_1780646998734/work
aiohttp @ file:///Users/ec2-user/croot/aiohttp_1782136887008/work
aioitertools @ file:///Users/ec2-user/buildout/croot/aioitertools_1759957493981/work
aiosignal @ file:///Users/ec2-user/buildout/croot/aiosignal_1761937356579/work
alabaster @ file:///opt/miniconda3/conda-bld/alabaster_1764709087285/work
alembic @ file:///Users/ec2-user/croot/alembic_1786467230226/work
altair @ file:///Users/ec2-user/croot/altair_1767001675291/work
anaconda-anon-usage @ file:///home/task_178056140078668/croot/anaconda-anon-usage_1780561464840/work
anaconda-auth @ file:///Users/ec2-user/croot/anaconda-auth_1781731300708/work
anaconda-catalogs @ file:///opt/miniconda3/conda-bld/anaconda-catalogs_1764858974806/work
anaconda-channel-guide @ file:///Users/ec2-user/croot/anaconda-channel-guide_1783462627245/work
anaconda-cli-base @ file:///Users/ec2-user/croot/anaconda-cli-base_1782138618093/work
anaconda-client @ file:///Users/ec2-user/croot/anaconda-client_1772491092877/work
anaconda-navigator @ file:///Users/ec2-user/croot/anaconda-navigator_1778683398390/work
anaconda-project @ file:///Users/ec2-user/croot/anaconda-project_1780592569179/work
annotated-doc @ file:///Users/ec2-user/buildout/croot/annotated-doc_1763764186763/work
annotated-types @ file:///Users/ec2-user/croot/annotated-types_1783680860219/work
anyio @ file:///Users/ec2-user/croot/anyio_1773134414870/work
applaunchservices @ file:///Users/ec2-user/buildout/croot/applaunchservices_1771861118128/work
appnope @ file:///Users/ec2-user/buildout/croot/appnope_1759953166014/work
appscript @ file:///Users/ec2-user/buildout/croot/appscript_1761943733310/work
archspec @ file:///Users/ec2-user/croot/archspec_1781703434270/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067819781/work
argon2-cffi-bindings @ file:///Users/ec2-user/buildout/croot/argon2-cffi-bindings_1761949232702/work
arrow @ file:///Users/ec2-user/buildout/croot/arrow_1761940127081/work
astroid @ file:///Users/ec2-user/croot/astroid_1770202249147/work
astropy @ file:///Users/ec2-user/croot/astropy_1784313131570/work
astropy-iers-data @ file:///Users/ec2-user/croot/astropy-iers-data_1784150790809/work
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135856585/work
async-lru @ file:///Users/ec2-user/croot/async-lru_1783504980854/work
asyncssh @ file:///Users/ec2-user/buildout/croot/asyncssh_1763766799455/work
attrs @ file:///Users/ec2-user/croot/attrs_1774959623970/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159323743/work
bcrypt @ file:///opt/miniconda3/conda-bld/bcrypt_1762875116622/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1781173595507/work
binaryornot @ file:///Users/ec2-user/croot/binaryornot_1773647405199/work
black @ file:///Users/ec2-user/croot/black_1780348683949/work
bleach @ file:///Users/ec2-user/croot/bleach_1782390508760/work
blinker @ file:///opt/miniconda3/conda-bld/blinker_1764332139731/work
bokeh @ file:///Users/ec2-user/croot/bokeh_1781075413079/work
boltons @ file:///Users/ec2-user/buildout/croot/boltons_1759960252148/work
botocore @ file:///Users/ec2-user/croot/botocore_1781530517318/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161487/work
build @ file:///Users/ec2-user/croot/python-build_1784730364889/work
cachetools @ file:///opt/miniconda3/conda-bld/cachetools_1764867346489/work
cattrs @ file:///Users/ec2-user/buildout/croot/cattrs_1761939415758/work
certifi @ file:///Users/ec2-user/croot/certifi_1785412583102/work/certifi
cffi @ file:///Users/ec2-user/croot/cffi_1784189422595/work
chardet @ file:///Users/ec2-user/buildout/croot/chardet_1759960443195/work
charset-normalizer @ file:///Users/ec2-user/croot/charset-normalizer_1782917471556/work
click @ file:///Users/ec2-user/croot/click_1781176538993/work
cloudpickle @ file:///opt/miniconda3/conda-bld/cloudpickle_1764930350775/work
colorcet @ file:///Users/ec2-user/croot/colorcet_1778662667755/work
comm @ file:///Users/ec2-user/buildout/croot/comm_1763763170912/work
conda @ file:///Users/ec2-user/croot/conda_1788548105213/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///Users/ec2-user/croot/conda-anaconda-tos_1770231078465/work
conda-build @ file:///Users/ec2-user/croot/conda-build_1779318372135/work
conda-content-trust @ file:///Users/ec2-user/croot/conda-content-trust_1777554201709/work
conda-libmamba-solver @ file:///home/task_Cr-3rYb_Svu0h_0/croot/conda-libmamba-solver_1784135307254/work/src
conda-lockfiles @ file:///Users/ec2-user/croot/conda-lockfiles_1783438338416/work
conda-pack @ file:///Users/ec2-user/croot/conda-pack_1771514409505/work
conda-package-handling @ file:///Users/ec2-user/croot/conda-package-handling_1781731298441/work
conda-pypi @ file:///Users/ec2-user/croot/conda-pypi_1783082480821/work
conda-rattler-solver @ file:///Users/ec2-user/croot/conda-rattler-solver_1782413809785/work
conda-repo-cli @ file:///Users/ec2-user/croot/conda-repo-cli_1778606761378/work
conda-self @ file:///Users/ec2-user/croot/conda-self_1784729173619/work
conda_index @ file:///Users/ec2-user/croot/conda-index_1782239927325/work
conda_package_streaming @ file:///Users/ec2-user/croot/conda-package-streaming_1781731229906/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643920606/work
cookiecutter @ file:///Users/ec2-user/croot/cookiecutter_1772740506062/work
cryptography @ file:///Users/ec2-user/croot/cryptography-split_1781601532779/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067932347/work
dask @ file:///Users/ec2-user/croot/dask-core_1784043249026/work
datashader @ file:///Users/ec2-user/croot/datashader_1780348604840/work
debugpy @ file:///Users/ec2-user/croot/debugpy_1783354545315/work
decorator @ file:///Users/ec2-user/croot/decorator_1781691477721/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///Users/ec2-user/croot/dill_1783436163794/work
distributed @ file:///Users/ec2-user/croot/distributed_1784189574127/work
distro @ file:///Users/ec2-user/buildout/croot/distro_1759958175746/work
dmglib @ file:///Users/ec2-user/buildout/croot/dmglib_1759966608900/work
docstring-to-markdown @ file:///Users/ec2-user/buildout/croot/docstring-to-markdown_1759956023126/work
docutils @ file:///opt/miniconda3/conda-bld/docutils_1761746664340/work
entrypoints @ file:///Users/ec2-user/buildout/croot/entrypoints_1759961018623/work
et_xmlfile @ file:///Users/ec2-user/buildout/croot/et_xmlfile_1759954855491/work
evalidate @ file:///Users/ec2-user/croot/evalidate_1781870325663/work
executing @ file:///Users/ec2-user/buildout/croot/executing_1761950542723/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718705082/work
filelock @ file:///Users/ec2-user/croot/filelock_1781703328351/work
flake8 @ file:///Users/ec2-user/buildout/croot/flake8_1761939490212/work
Flask @ file:///Users/ec2-user/croot/flask_1772099815749/work
fonttools @ file:///Users/ec2-user/croot/fonttools_1781075857652/work
frozendict @ file:///Users/ec2-user/croot/frozendict_1782910139669/work
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062013941/work
fsspec @ file:///Users/ec2-user/croot/fsspec_1780402935165/work
gitdb @ file:///Users/ec2-user/buildout/croot/gitdb_1759954928055/work
GitPython @ file:///Users/ec2-user/croot/gitpython_1778665815043/work
gmpy2 @ file:///opt/miniconda3/conda-bld/gmpy2_1764747892558/work
greenlet @ file:///Users/ec2-user/croot/greenlet_1774949561146/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258926/work
h5py @ file:///Users/ec2-user/croot/h5py_1777905050761/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///Users/ec2-user/croot/holoviews_1784036580049/work
httpcore @ file:///Users/ec2-user/buildout/croot/httpcore_1761937127030/work
httptools @ file:///opt/miniconda3/conda-bld/httptools_1763634745249/work
httpx @ file:///Users/ec2-user/buildout/croot/httpx_1761937519393/work
hvplot @ file:///Users/ec2-user/croot/hvplot_1767611476242/work
idna @ file:///Users/ec2-user/croot/idna_1780561396088/work
ImageIO @ file:///Users/ec2-user/croot/imageio_1774003040023/work
imagesize @ file:///Users/ec2-user/buildout/croot/imagesize_1759956241893/work
imbalanced-learn @ file:///Users/ec2-user/croot/imbalanced-learn_1783948736775/work
importlib_metadata @ file:///Users/ec2-user/croot/importlib_metadata-suite_1772099868862/work
inflection @ file:///Users/ec2-user/buildout/croot/inflection_1761940750149/work
iniconfig @ file:///Users/ec2-user/croot/iniconfig_1767356816729/work
installer @ file:///Users/ec2-user/croot/python-installer_1783936171085/work
intake @ file:///Users/ec2-user/croot/intake_1773835338608/work
intervaltree @ file:///home/task_176795483829571/croot/intervaltree_1767954924476/work
ipykernel @ file:///opt/miniconda3/conda-bld/ipykernel_1762946072343/work
ipympl @ file:///Users/ec2-user/buildout/croot/ipympl_1768900552729/work
ipython @ file:///Users/ec2-user/croot/ipython_1784576698894/work
ipython_pygments_lexers @ file:///Users/ec2-user/buildout/croot/ipython_pygments_lexers_1759952775363/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500032301/work
isort @ file:///Users/ec2-user/croot/isort_1773069135101/work
itsdangerous @ file:///Users/ec2-user/buildout/croot/itsdangerous_1759956286884/work
jaraco.classes @ file:///Users/ec2-user/buildout/croot/jaraco.classes_1759955035653/work
jaraco.context @ file:///Users/ec2-user/croot/jaraco.context_1769477838120/work
jaraco.functools @ file:///Users/ec2-user/buildout/croot/jaraco.functools_1768900620159/work
jedi @ file:///Users/ec2-user/buildout/croot/jedi_1759952789032/work
jellyfish @ file:///opt/miniconda3/conda-bld/jellyfish_1764243533506/work
Jinja2 @ file:///Users/ec2-user/buildout/croot/jinja2_1761936793528/work
jmespath @ file:///Users/ec2-user/croot/jmespath_1770136056936/work
joblib @ file:///Users/ec2-user/croot/joblib_1767868079012/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718541253/work
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955676205/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788415691/work
jupyter @ file:///Users/ec2-user/buildout/croot/jupyter_1768896575345/work
jupyter-console @ file:///Users/ec2-user/buildout/croot/jupyter_console_1763763511730/work
jupyter-events @ file:///Users/ec2-user/croot/jupyter_events_1778067257248/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773346380/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1781183280286/work
jupyter_core @ file:///Users/ec2-user/buildout/croot/jupyter_core_1765380151887/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1782400776858/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289304537/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1782727244216/work
jupyterlab_pygments @ file:///Users/ec2-user/buildout/croot/jupyterlab_pygments_1759952498240/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629822876/work
jupyterlab_widgets @ file:///home/task_Juh6Nl9AS1Ob4_0/croot/jupyterlab_widgets_1784891225347/work/python/jupyterlab_widgets
keyring @ file:///Users/ec2-user/buildout/croot/keyring_1765381968545/work
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159406929/work
lazy-loader @ file:///Users/ec2-user/croot/lazy_loader_1773754843884/work
lckr_jupyterlab_variableinspector @ file:///Users/ec2-user/croot/jupyterlab-variableinspector_1771517667943/work
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libmambapy @ file:///Users/ec2-user/croot/mamba-split_1779881319910/work/libmambapy
librt @ file:///Users/ec2-user/croot/python-librt_1773316253302/work
lief @ file:///Users/ec2-user/croot/lief_1773071575686/work/api/python
linkify-it-py @ file:///Users/ec2-user/croot/linkify-it-py_1777990718334/work
llvmlite @ file:///Users/ec2-user/croot/llvmlite_1778855908744/work
lmdb @ file:///opt/miniconda3/conda-bld/python-lmdb_1764243618995/work
locket @ file:///Users/ec2-user/buildout/croot/locket_1761936916298/work
lsprotocol @ file:///Users/ec2-user/croot/lsprotocol_1771963544414/work/packages/python
lxml @ file:///Users/ec2-user/croot/lxml_1778684520346/work
lz4 @ file:///opt/miniconda3/conda-bld/lz4_1762954040485/work
Mako @ file:///Users/ec2-user/croot/mako_1787782266230/work
mamba_gator @ file:///Users/ec2-user/croot/mamba_gator_1775678816946/work
Markdown @ file:///Users/ec2-user/croot/markdown_1781174993440/work
markdown-it-py @ file:///Users/ec2-user/croot/markdown-it-py_1777540559654/work
MarkupSafe @ file:///Users/ec2-user/croot/markupsafe_1782390866030/work
matplotlib==3.11.0
matplotlib-inline @ file:///Users/ec2-user/croot/matplotlib-inline_1784795152102/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///Users/ec2-user/croot/mdit-py-plugins_1781076073580/work
mdurl @ file:///Users/ec2-user/buildout/croot/mdurl_1759953843084/work
menuinst @ file:///Users/ec2-user/croot/menuinst_1784297501967/work
mistune @ file:///Users/ec2-user/croot/mistune_1783704018076/work
more-itertools @ file:///Users/ec2-user/croot/more-itertools_1775819407045/work
mpi4py @ file:///Users/ec2-user/croot/mpi4py_1767706446671/work
mpmath @ file:///Users/ec2-user/buildout/croot/mpmath_1761939747452/work
msgpack @ file:///Users/ec2-user/croot/msgpack-python_1782399383306/work
multidict @ file:///Users/ec2-user/croot/multidict_1770629079516/work
multipledispatch @ file:///Users/ec2-user/buildout/croot/multipledispatch_1760010219114/work
mypy @ file:///Users/ec2-user/croot/mypy-split_1777540918069/work
mypy_extensions @ file:///Users/ec2-user/croot/mypy_extensions_1780406573389/work
narwhals @ file:///Users/ec2-user/croot/narwhals_1783944116234/work
navigator-updater @ file:///Users/ec2-user/croot/navigator-updater_1778082693261/work
nbclient @ file:///Users/ec2-user/croot/nbclient_1782484511586/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1782391041127/work
nbformat @ file:///Users/ec2-user/buildout/croot/nbformat_1759952237112/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///Users/ec2-user/buildout/croot/networkx_1768896190670/work
nh3 @ file:///Users/ec2-user/croot/nh3_1784885673710/work
nltk @ file:///Users/ec2-user/croot/nltk_1784014124190/work
notebook @ file:///Users/ec2-user/croot/notebook_1783948681081/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629838630/work
numba @ file:///Users/ec2-user/croot/numba_1779289493154/work
numexpr @ file:///Users/ec2-user/croot/numexpr_1776269923185/work
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1780345797454/work/dist/numpy-2.4.6-cp314-cp314-macosx_12_0_arm64.whl#sha256=8c6bd6201b44c3d1e779152e97b8395d38d00a0e1df41a08f7b7f22d8721514f
numpydoc @ file:///Users/ec2-user/croot/numpydoc_1767780804663/work
openpyxl @ file:///Users/ec2-user/buildout/croot/openpyxl_1759956488874/work
packaging==26.0
pandas @ file:///Users/ec2-user/croot/pandas_1780071656117/work
pandocfilters @ file:///Users/ec2-user/buildout/croot/pandocfilters_1759952542553/work
panel @ file:///Users/ec2-user/croot/panel-split_1784557948813/work
panel-material-ui @ file:///Users/ec2-user/croot/panel-material-ui_1784564171953/work
param @ file:///Users/ec2-user/croot/param_1784036669399/work
parso @ file:///Users/ec2-user/croot/parso_1778674014309/work
partd @ file:///Users/ec2-user/buildout/croot/partd_1761937209938/work
pathspec @ file:///Users/ec2-user/croot/pathspec_1770400104109/work
patsy @ file:///Users/ec2-user/croot/patsy_1767614330058/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936044/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///Users/ec2-user/croot/pillow_1783978869820/work
pkce @ file:///Users/ec2-user/buildout/croot/pkce_1759958821043/work
pkginfo @ file:///Users/ec2-user/buildout/croot/pkginfo_1768898551194/work
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975658/work
plotly @ file:///Users/ec2-user/croot/plotly_1779218995043/work
pluggy @ file:///Users/ec2-user/croot/pluggy_1776972807785/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733399866/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744861210/work
propcache @ file:///opt/miniconda3/conda-bld/propcache_1765457313962/work
protobuf @ file:///Users/ec2-user/croot/protobuf_1770660441533/work/bazel-bin/python/dist/protobuf-6.33.5-cp314-abi3-macosx_11_0_arm64.whl#sha256=12f2eecf1afa19d278a2e61a87b243482f7f1fc7360081b1f03f95ae1bc2ad6e
psutil @ file:///Users/ec2-user/croot/psutil_1784875183974/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///Users/ec2-user/buildout/croot/pure_eval_1759952573602/work
py-cpuinfo @ file:///Users/ec2-user/buildout/croot/py-cpuinfo_1761939809971/work
py-rattler @ file:///Users/ec2-user/croot/py-rattler-split_1781273624674/work
py-rattler-build @ file:///Users/ec2-user/croot/py-rattler-build_1781115494716/work
pyarrow @ file:///Users/ec2-user/croot/pyarrow_1775574748238/work/python
pycares @ file:///Users/ec2-user/buildout/croot/pycares_1759952967164/work
pycodestyle @ file:///Users/ec2-user/buildout/croot/pycodestyle_1759955270124/work
pycosat @ file:///Users/ec2-user/buildout/croot/pycosat_1760012146060/work
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959675151/work
pyct @ file:///Users/ec2-user/buildout/croot/pyct_1763769561974/work
pydantic @ file:///Users/ec2-user/croot/pydantic_1778683876317/work
pydantic-settings @ file:///Users/ec2-user/croot/pydantic-settings_1782389223698/work
pydantic_core @ file:///Users/ec2-user/croot/pydantic-core_1778676817138/work
pydocstyle @ file:///Users/ec2-user/croot/pydocstyle_1767955746507/work
pyerfa @ file:///opt/miniconda3/conda-bld/pyerfa_1764837917217/work
pyflakes @ file:///Users/ec2-user/buildout/croot/pyflakes_1759955288808/work
PyGithub @ file:///Users/ec2-user/croot/pygithub_1779892305189/work
Pygments @ file:///Users/ec2-user/croot/pygments_1775127041396/work
PyJWT @ file:///Users/ec2-user/croot/pyjwt_1780933951933/work
pylint @ file:///Users/ec2-user/croot/pylint_1783948599912/work
pylint-venv @ file:///Users/ec2-user/buildout/croot/pylint-venv_1759962831769/work
pyls-spyder==0.4.0
PyNaCl @ file:///Users/ec2-user/croot/pynacl_1777936456085/work
pyobjc-core @ file:///Users/ec2-user/buildout/croot/pyobjc-core_1765382463258/work
pyobjc-framework-Cocoa @ file:///Users/ec2-user/buildout/croot/pyobjc-framework-cocoa_1765384385324/work
pyobjc-framework-CoreServices @ file:///Users/ec2-user/buildout/croot/pyobjc-framework-coreservices_1771861067616/work
pyobjc-framework-FSEvents @ file:///Users/ec2-user/buildout/croot/pyobjc-framework-fsevents_1765390107315/work
pyodbc @ file:///Users/ec2-user/buildout/croot/pyodbc_1761954477848/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973789564/work
pyproject_hooks @ file:///opt/miniconda3/conda-bld/pyproject_hooks_1761732857189/work
PyQt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6_sip @ file:///Users/ec2-user/croot/pyqt-split_1775828365490/work/pyqt_sip
PySide6==6.11.0
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010104/work
pytest @ file:///Users/ec2-user/croot/pytest_1777654753254/work
python-dateutil @ file:///Users/ec2-user/buildout/croot/python-dateutil_1759952060416/work
python-dotenv @ file:///Users/ec2-user/buildout/croot/python-dotenv_1771860713181/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590095606/work
python-lsp-black @ file:///Users/ec2-user/buildout/croot/python-lsp-black_1768898656448/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-ruff @ file:///Users/ec2-user/croot/python-lsp-ruff_1771965405298/work
python-lsp-server @ file:///Users/ec2-user/croot/python-lsp-server_1777540363842/work
python-multipart @ file:///Users/ec2-user/croot/python-multipart_1782399474096/work
python-slugify @ file:///Users/ec2-user/buildout/croot/python-slugify_1759959157470/work
pytokens @ file:///Users/ec2-user/croot/pytokens_1775141123816/work
pytoolconfig @ file:///Users/ec2-user/croot/pytoolconfig_1779279363788/work
pytz @ file:///Users/ec2-user/croot/pytz_1780649973985/work
pyuca @ file:///Users/ec2-user/buildout/croot/pyuca_1761947571322/work
pyviz_comms @ file:///Users/ec2-user/buildout/croot/pyviz_comms_1765381284779/work
PyWavelets @ file:///Users/ec2-user/croot/pywavelets_1771517615873/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492428/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375615819/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///Users/ec2-user/croot/qstylizer_1779279430405/work/dist/qstylizer-0.2.4-py2.py3-none-any.whl#sha256=f7adf1feced89ebd82b1d53467aa97dfa7090ec239f8af72855e699796495104
QtAwesome @ file:///Users/ec2-user/croot/qtawesome_1783000770848/work
qtconsole @ file:///Users/ec2-user/croot/qtconsole_1776670409808/work
QtPy @ file:///Users/ec2-user/buildout/croot/qtpy_1761938651965/work
readchar @ file:///Users/ec2-user/croot/readchar_1783505058717/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885811/work
regex @ file:///Users/ec2-user/croot/regex_1779722055390/work
requests @ file:///Users/ec2-user/croot/requests_1780348908794/work
requests-toolbelt @ file:///Users/ec2-user/buildout/croot/requests-toolbelt_1763762970961/work
rfc3339_validator @ file:///opt/miniconda3/conda-bld/rfc3339-validator_1764775593947/work
rfc3986_validator @ file:///Users/ec2-user/buildout/croot/rfc3986-validator_1763762347429/work
rich @ file:///Users/ec2-user/croot/rich_1778863378203/work
roman-numerals @ file:///opt/miniconda3/conda-bld/roman-numerals_1765446479235/work
rope @ file:///Users/ec2-user/buildout/croot/rope_1763764082355/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366481407/work
rtree @ file:///Users/ec2-user/croot/rtree_1771951920764/work
ruamel.yaml @ file:///opt/miniconda3/conda-bld/ruamel.yaml_1762535953267/work
ruamel.yaml.clib @ file:///opt/miniconda3/conda-bld/ruamel.yaml.clib_1762530069475/work
ruff @ file:///Users/ec2-user/croot/ruff_1771528352387/work
s3fs @ file:///Users/ec2-user/croot/s3fs_1780490291316/work
scikit-image @ file:///Users/ec2-user/croot/scikit-image_1768385895434/work
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1781530261108/work
scipy @ file:///Users/ec2-user/croot/scipy_1782369479472/work/dist/scipy-1.18.0-cp314-cp314-macosx_12_0_arm64.whl#sha256=24b32255a878e13f88042aca6bed6139339cbb125193d4489dae610907ce3376
seaborn @ file:///Users/ec2-user/buildout/croot/seaborn_1763770204682/work
semver @ file:///opt/miniconda3/conda-bld/semver_1761903026848/work
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170598277/work
sentry-sdk @ file:///Users/ec2-user/croot/sentry-sdk_1786612231007/work
setuptools==83.0.0
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912203994/work
shiboken6==6.11.0
sip @ file:///Users/ec2-user/croot/sip_1770807534277/work
six @ file:///Users/ec2-user/buildout/croot/six_1759951952559/work
sklearn-compat @ file:///Users/ec2-user/croot/sklearn-compat_1781529940305/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
snowballstemmer @ file:///Users/ec2-user/croot/snowballstemmer_1782474964220/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///Users/ec2-user/croot/soupsieve_1783696923195/work
Sphinx @ file:///Users/ec2-user/croot/sphinx_1770798087046/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///Users/ec2-user/croot/spyder_1783948620996/work
spyder-kernels @ file:///Users/ec2-user/croot/spyder-kernels_1783338555504/work
SQLAlchemy @ file:///Users/ec2-user/croot/sqlalchemy_1783083715286/work
stack_data @ file:///Users/ec2-user/buildout/croot/stack_data_1759953041043/work
starlette @ file:///Users/ec2-user/croot/starlette-recipe_1783948024368/work
statsmodels @ file:///opt/miniconda3/conda-bld/statsmodels_1765532956783/work
streamlit @ file:///Users/ec2-user/croot/streamlit-split_1780498901601/work/streamlit
superqt @ file:///Users/ec2-user/croot/superqt_1775809183846/work
sympy @ file:///opt/miniconda3/conda-bld/sympy_1764762956226/work
tables @ file:///Users/ec2-user/croot/pytables_1773089386458/work
tabulate @ file:///Users/ec2-user/croot/tabulate_1773578548431/work
tblib @ file:///Users/ec2-user/croot/tblib_1768309884049/work
tenacity @ file:///Users/ec2-user/croot/tenacity_1776670444213/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591696190/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///Users/ec2-user/croot/textdistance_1774283936467/work
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580482/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///Users/ec2-user/croot/tifffile_1780648815605/work
tinycss2 @ file:///opt/miniconda3/conda-bld/tinycss2_1764948935775/work
toml @ file:///home/task_178056320169959/croot/toml_1780564005297/work
tomli @ file:///Users/ec2-user/croot/tomli_1768297438584/work
tomli_w @ file:///croot/tomli-w_1738351312774/work
tomlkit @ file:///Users/ec2-user/croot/tomlkit_1784720779024/work
toolz @ file:///opt/miniconda3/conda-bld/toolz_1764677592261/work
tornado @ file:///Users/ec2-user/croot/tornado_1782314827525/work
tqdm @ file:///Users/ec2-user/croot/tqdm_1781170813658/work
traitlets @ file:///Users/ec2-user/croot/traitlets_1778743192105/work
truststore @ file:///Users/ec2-user/croot/truststore_1778600076084/work
typer @ file:///Users/ec2-user/croot/typer_1778701922361/work
typing-inspection @ file:///Users/ec2-user/buildout/croot/typing-inspection_1761937969604/work
typing_extensions @ file:///Users/ec2-user/croot/typing_extensions_1784101001441/work
tzdata @ file:///home/task_177806041933677/croot/python-tzdata_1778060738968/work
uc-micro-py @ file:///Users/ec2-user/croot/uc-micro-py_1777985181818/work
ujson @ file:///Users/ec2-user/croot/ujson_1782399420760/work
unearth @ file:///Users/ec2-user/croot/unearth_1783060241730/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1778536190991/work
uvicorn @ file:///Users/ec2-user/croot/uvicorn-split_1768226435538/work
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502811/work
watchdog @ file:///Users/ec2-user/croot/watchdog_1787146172130/work
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1783583483791/work
webencodings @ file:///Users/ec2-user/buildout/croot/webencodings_1761936753283/work
websocket-client @ file:///Users/ec2-user/buildout/croot/websocket-client_1759953104904/work
websockets @ file:///Users/ec2-user/croot/websockets_1782477346536/work
Werkzeug @ file:///Users/ec2-user/croot/werkzeug_1773738189830/work
whatthepatch @ file:///Users/ec2-user/buildout/croot/whatthepatch_1759957462104/work
wheel==0.47.0
widgetsnbextension @ file:///Users/ec2-user/buildout/croot/widgetsnbextension_1761938677832/work
wrapt @ file:///Users/ec2-user/croot/wrapt_1780652799988/work
wurlitzer @ file:///Users/ec2-user/buildout/croot/wurlitzer_1759959692451/work
xarray @ file:///Users/ec2-user/croot/xarray_1783948561895/work
xlwings @ file:///Users/ec2-user/croot/xlwings_1780348382123/work
xyzservices @ file:///Users/ec2-user/croot/xyzservices_1776782997027/work
yapf @ file:///Users/ec2-user/buildout/croot/yapf_1761940056663/work
yarl @ file:///Users/ec2-user/croot/yarl_1782227688341/work
zict @ file:///opt/miniconda3/conda-bld/zict_1764604316351/work
zipp @ file:///opt/miniconda3/conda-bld/zipp_1763977861606/work
zstandard @ file:///Users/ec2-user/croot/zstandard_1776960547437/work
